@import url("@radix-ui/colors/gray.css");
@import url("@radix-ui/colors/olive.css");
@import url("@radix-ui/colors/gray-alpha.css");
@import url("@radix-ui/colors/gray-dark.css");
@import url("@radix-ui/colors/gray-dark-alpha.css");
@import url("@radix-ui/colors/pink.css");
@import url("@radix-ui/colors/pink-alpha.css");
@import url("@radix-ui/colors/pink-dark.css");
@import url("@radix-ui/colors/pink-dark-alpha.css");
@import url("@radix-ui/colors/yellow.css");
@import url("@radix-ui/colors/yellow-alpha.css");
@import url("@radix-ui/colors/yellow-dark.css");
@import url("@radix-ui/colors/yellow-dark-alpha.css");
@import url("@radix-ui/colors/black-alpha.css");
@import url("@radix-ui/colors/white-alpha.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  * We are using the Radix UI Colors package to generate a set of color variables that can be used in the project.
  * @see: https://colors.radix-ui.com/
  */

  @font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-feature-settings: "ss07" 1, "ss08" 1, "tnum" 1, "cv10" 1, "cv05" 1,
      "cv06" 1, "calt" 1;
    src: url("/assets/inter/InterVariable.woff2") format("woff2");
    font-display: swap;
  }

  :root {
    --bg: var(--gray-1);
    --fg: var(--gray-12);
    --muted: var(--gray-8);
    --border: var(--gray-4);
    --scrollbar-thumb: var(--gray-4);
    --scrollbar-track: transparent;
    --selection-background: var(--olive-3);
    --selection-foreground: var(--olive-11);
    --kbd-background: var(--gray-3);
    --kbd-foreground: var(--gray-11);
    --kbd-border: var(--gray-4);
    --highlight-background: var(--yellow-3);
    --highlight-foreground: var(--yellow-11);
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;
  
    /* match fumadocs variables */

    --background: var(--bg);
    --foreground: var(--fg);
    --muted: var(--gray-8);
    --muted-foreground: var(--gray-11);
    --popover: var(--bg);
    --popover-foreground: var(--fg);
    --card: var(--bg) !important;
    --card-foreground: var(--fg) !important;
    --border: var(--gray-4);
    --primary: var(--fg);
    --primary-foreground: var(--bg);
    --secondary: var(--gray-3);
    --secondary-foreground: var(--gray-12);
    --accent: var(--gray-4);
    --accent-foreground: var(--gray-12);
    --ring: var(--gray-8);
  }

  * {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    font-family: Inter, sans-serif;
    font-feature-settings: "ss07" 1, "ss08" 1, "tnum" 1, "cv10" 1, "cv05" 1,
      "cv06" 1, "calt" 1;
    font-variant-ligatures: common-ligatures;
    text-wrap: pretty;
    text-rendering: optimizelegibility;
  }

  *::selection {
    color: var(--selection-foreground);
    background-color: var(--selection-background);
  }

  html {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  html {
    @apply text-default text-foreground bg-background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold;
    }

    p {
      @apply text-muted2;
    }

    sub,
    sup {
      @apply text-muted;
    }

    sub {
      @apply text-small;
    }

    /* a {
      @apply transition hover:opacity-80;
    } */

    ol {
      @apply list-decimal text-muted2;
    }

    ul {
      @apply list-disc text-muted2;
    }

    kbd {
      @apply mx-1;

      display: inline-block;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      padding: 0 6px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background: var(--kbd-background);
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  article {
    h1 + h2 {
      margin-top: 4px !important;
    }

    h1 + p,
    h2 + p {
      margin-top: 8px !important;
    }

    figure + h1,
    p + h1 {
      margin-top: 48px !important;
    }

    p:not(:first-child),
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child),
    h4:not(:first-child),
    h5:not(:first-child),
    h6:not(:first-child),
    blockquote:not(:first-child),
    ul:not(:first-child),
    ol:not(:first-child),
    pre:not(:first-child),
    figure:not(:first-child) {
      margin-top: 24px;
    }

    /*
    * This handles our highlighting on selection of a table of contents item.
    */

    [data-highlight] {
      @apply relative;
    }

    [data-highlight]::before {
      @apply absolute inset-0 -inset-x-1 -z-10 bg-transparent transition scale-y-[1.1] content-[""] duration-500;
    }

    [data-highlight="true"]::before {
      @apply bg-highlight-background text-highlight-foreground scale-y-110 !important;
    }

    [data-highlight="false"]::before {
      @apply bg-transparent scale-y-100;
    }

    /* 
    * Here we are setting up the styles for our footnotes and references.
    */

    .footnotes {
      position: relative;
      padding-top: 16px;
      margin-top: 64px !important;
      border-top: 1px solid var(--border);
    }

    .footnotes ol {
      position: relative;
      display: block;
      padding: 0 0 0 4px;
      margin-top: 16px !important;
      list-style: none;
    }

    .footnotes li {
      margin-top: 0 !important;
    }

    .footnotes ol li {
      position: relative;
      padding-top: 4px;
      padding-left: 6px;
      font-size: 12px;
      color: var(--muted);
      counter-increment: list;
    }

    .footnotes ol li::before {
      position: absolute;
      top: 0;
      right: 100%;
      font-size: 8px;
      content: counter(list);
    }

    .footnotes ol li p a {
      z-index: 2;
    }
  }

  /* 
  * We are using rehypye-pretty to style the code blocks in the project.
  * rehype-pretty-code is a Rehype plugin powered by the shiki syntax highlighter that provides beautiful code blocks for Markdown or MDX. 
  * It works on both the server at build-time (avoiding runtime syntax highlighting) and on the client for dynamic highlighting.
  * @see: https://rehype-pretty.pages.dev/
  */

  /* 
  * Here we are setting up the styles needed to enable theme-aware code blocks.
  * @see: https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode
  */

  html {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    &.dark {
      code[data-theme*=" "],
      code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
      }
    }
  }

  /* 
  * Here we are setting up the styles needed to enable line numbers in code blocks.
  * @see: https://rehype-pretty.pages.dev/#line-numbers
  */

  html {
    code[data-line-numbers] {
      counter-reset: line;
    }

    code[data-line-numbers] > [data-line]::before {
      display: inline-block;
      width: 12px;
      margin-right: 2rem;
      color: gray;
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }

    code[data-line-numbers-max-digits="2"] > [data-line]::before {
      width: 1.25rem;
    }

    code[data-line-numbers-max-digits="3"] > [data-line]::before {
      width: 1.75rem;
    }

    code[data-line-numbers-max-digits="4"] > [data-line]::before {
      width: 2.25rem;
    }

    p [data-line] {
      padding: 2px 4px;
      margin-right: 2px;
      margin-left: 2px;
      text-align: center;
      background-color: var(--kbd-background) !important;
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  /* 
  * Here we are just some additional styles to make the code blocks look better.
  * @see: https://rehype-pretty.pages.dev/#styles
  */

  * {
    pre {
      padding: 16px;
      overflow-x: auto;
      font-size: 12px;

      [data-line] {
        margin-top: 0 !important;
      }
    }

    figure {
      width: 100%;
      margin-top: 4px;
      border: 1px solid var(--border);
      border-radius: var(--radius-base);
    }
  }
}

/* :root.dark {
  --background: var(--gray-1);
  --foreground: var(--gray-12);
  --muted: var(--gray-3);
  --muted-foreground: var(--gray-11);
  --popover: var(--gray-1);
  --popover-foreground: var(--gray-12);
  --card: var(--gray-1);
  --card-foreground: var(--gray-12);
  --border: var(--gray-3);
  --primary: var(--gray-12);
  --primary-foreground: var(--gray-1);
  --secondary: var(--gray-2);
  --secondary-foreground: var(--gray-12);
  --accent: var(--gray-3);
  --accent-foreground: var(--gray-12);
  --ring: var(--gray-6);
} */

[data-rmiz-modal-overlay] {
  background-color: var(--bg) !important; /* Dark overlay regardless of theme */
}


.container-3d {
  position: relative;
  perspective: 1000px;
  perspective-origin: 100% 0;
  transform-style: preserve-3d;
}

.image-3d {
  position: absolute;
  top: 48px; /* Adjust as needed */
  left: 128px; /* Adjust as needed */
  transition: top 0.3s ease, transform 0.3s ease; /* Smooth transition */
  transform: translateZ(20px); /* 3D effect */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 0.8;
}

.image-3d:hover {
  top: 44px; /* Adjusted position on hover */
  transform: translateZ(20px); /* Maintain 3D effect on hover */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: 1;
}
@media (max-width: 768px) {
  .image-3d {
    top: 108px; /* Revert to default top position */
    /* left: 42px; */
    scale: 1.4;
    transform: translateZ(20px); /* No hover effect */
  }
  .image-3d:hover {
    top: 108px; /* Revert to default top position */
    /* left: 42px; */
    scale: 1.4;
    transform: translateZ(20px); /* No hover effect */
  }
}
